* {
  --primary-color: #0873e8;
  --text-color-dark-light: #d4d4d4;
  --text-color-dark: #4a4a4a;
}

.container {
  display: grid;
  grid-template-columns: repeat(2, auto);
}

.card {
  margin: 20px;

  p {
    color: var(--text-color-dark);
  }

  h4:hover {
    text-decoration: underline;
    cursor: pointer;
  }

  img {
    width: 100%;
    border: solid 1px var(--text-color-dark-light);
    border-radius: 3px;
    cursor: pointer;
  }

  .category {
    margin-bottom: 0;
  }

  .button {
    border: solid 2px var(--text-color-dark);
    padding: 5px;
    border-radius: 15px;
    color: var(--text-color-dark);
  }
}