@import 'src/assets/scss/general.scss';
@import 'src/assets/scss/variables';
@import 'src/assets/scss/general';

.container {
  padding-bottom: 5em;
  margin-bottom: 1em;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, auto);
}

.card {
  margin: 20px;


  h4:hover {
    text-decoration: underline;
    cursor: pointer;
  }

  img {
    width: 100%;
    border-radius: 3px;
    cursor: pointer;
  }

  .category {
    margin-bottom: 0;
  }
}
@media screen and (max-width: 600px) {
  .container {
    grid-template-columns: repeat(1, auto);
  }
  .description {
    display: none;
  }
}
