.container {
  width: 100%;
  padding: 20px 0px;
  text-align: center;
  border-top: solid 1px var(--text-color-dark-light);
  border-bottom: solid 1px var(--text-color-dark-light);
  margin-top: 5em;

  h1 {
    margin-top: 0px !important;
  }

  .logos {
    display: flex;
    justify-content: space-around;
  }

  .logo {
    height: 80px;
    aspect-ratio: 2/1;
  }
}