@import '../../../assets/scss/mixins';
@import '../../../assets/scss/variables';
@import '../../../assets/scss/base/generic';

.container {
  width: 100%;
  margin-top: 2em;
  padding-bottom: 1em;
  border-bottom: solid 1px $color-gray-border;

  .logos {
    display: flex;
    justify-content: space-around;
  }

  .logo {
    aspect-ratio: 2/1;
    opacity: 80%;
  }
}