@import '../../assets/scss/variables';
@import '../../assets/scss/mixins';
@import '../../assets/scss/base/generic';
* {
  --primary-color: #0873e8;
  --text-color-dark-light: #d4d4d4;
  --text-color-dark: #4a4a4a;
  // padding:0;
  // margin:0;
}
.newsletter__module {
  max-width: 100%;
  width: 100%;
  color: #222;
  line-height: 1.625;
  font-size: 1rem;
  background-color: transparent;
  padding: 0% 0px 0% 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.newsletter__module__inner{
  max-width: 100%;
  max-height: 120px;
}
.newsletter__module__form__subscribe, .newsletter__module__form__subscribe__navbar {
  max-width: 100%;
  background-color: transparent;
  width: 100%;
  display: grid;
  margin: auto;
  grid-template-columns: 60% 50%;
}
.newsletter__module__form__subscribe__navbar {
  width: 80%;
}
.newsletter__module__title{
  margin-top: 0px;
}
.newsletter__module__form__subscribe__input {
  font-size: 1rem;
  height: 35px;
  border-radius: 3px;
  border: 1px solid rgb(146, 146, 146, 0.5);
  padding-left: 8px;
  background-color: #FFF;
}
.newsletter__module__form__subscribe__submit {
  height: 39px;
  margin-left: 7%;
}
@media screen and (max-width: 900px) {
  .newsletter__module__form__subscribe__navbar {
    display:none;
  }
  .newsletter__module__form__subscribe{
    width:76%;
  }
  .newsletter__module__form__subscribe__submit {
    margin-left: 0px;
  }
}   
.newsletter__module__form__message{
  margin:0;
}
