.container {
  position: relative;
  height: 30em;
  width: 100%;
  border-bottom: solid 1px var(--text-color-dark-light);
}

.text {
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;

  h3 {
    color: var(--primary-color);
  }

  p {
    color: var(--text-color-dark);
  }
}

.logo {
  position: absolute;
  transform: translate(-50%, -50%);
}