@import 'src/assets/scss/variables';

.container {
  width: 100%;
  padding-bottom: 5em;
  margin-bottom: 1em;
  border-bottom: solid 1px $color-gray-border;
}

.grid {
  display: grid;
  gap: 1px;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  background-color: $color-gray-border;
  text-align: center;
}

.cell {
  padding: 1em 3em;
  background-color: #fff;
}

.logo {
  display: flex;
  justify-content: center;
}