* {
  --primary-color: #0873e8;
  --text-color-dark-light: #d4d4d4;
  --text-color-dark: #4a4a4a;
}

.container {
  height: 50em;
  width: 100%;
  border-bottom: solid 1px var(--text-color-dark);
}

.text {
  display: inline-block;
  position: relative;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;

  h4 {
    color: var(--primary-color);
  }
}

.logo {
  height: 80px;
  position: relative;
}