@import 'src/assets/scss/variables';

.container {
  position: relative;
  height: 30em;
  width: 100%;
  padding-bottom: 5em;
  margin-bottom: 1em;
  border-bottom: solid 1px $color-gray-border;
}

.text {
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;

  h3 {
    color: $color-secondary;
  }

  p {
    color: $color-primary;
  }
}

.logo {
  position: absolute !important;
  transform: translate(-50%, -50%);
}