@import '../../../assets/scss/mixins';
@import '../../../assets/scss/variables';
@import '../../../assets/scss/general';

.services__module {
  width: 100%;
  padding-bottom: 5em;
  margin-bottom: 1em;
  border-bottom: solid 1px $color-gray-border;
}
.services__module__innergrid {
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: 33% 34% 33%;
  background-color: $color-gray-border;
  grid-gap: 1px;
}
.services__module__innergrid__comp {
  padding:20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgb(255, 255, 255);
  border: none;
}
.services__module__innergrid__comp__text {
  color: $color-base;
  font-size: 17px;
  text-align: center !important;
}
@media screen and (max-width: 800px) {
  .services__module__innergrid {
    grid-template-columns: 100%;
  }
}
