@import '../../../assets/scss/variables';
@import '../../../assets/scss/base/generic';

.container_serv{
    margin-top: 5em;
    border-bottom: solid 1px $color-gray-border;

    h1 {
      text-align: center;
      padding: 0;
      margin-top: 40px;
    }

    div p {
      text-align: justify;
    }
}
.service_container {
  display: grid;
  grid-template-columns: 60% 30%;
  grid-gap: 10%;
  width: 100%;
  padding-bottom: 5em;
  margin-bottom: 1em;
  padding-right: 5em;
}
.service_container:nth-child(even) {
  direction: rtl;
}
.service_container_image {
  object-fit: contain;
}

.service_container_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start !important;
  direction: ltr;

}
@media (max-width: 725px) {
    .service_container {
        display: grid;
        grid-template-columns: 100%;
      }
}