@import '../../assets/scss/variables';
@import '../../assets/scss/mixins';

.navbar {
    width: 100%;
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    background-color: rgb(255, 255, 255);
    &__inner {
        &_list {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;

            &_item {
                display: inline-block;
            }
        }
    }
}

@include breakpoint-sm {
    .navbar {
        &__inner {
            padding: 0 10px;
            &:after {
                background: $color-gray-border;
                background: linear-gradient(to bottom, $color-gray-border 0%, $color-gray-border 48%, $color-white 100%);
                position: absolute;
                content: '';
                width: 1px;
                height: 540px;
                top: 30px;
                right: -10px;
                bottom: 0;
            }
        }
    }
}

@include breakpoint-md {
    .navbar {
        &__inner {
            padding: 0;
        }
    }
}
