@import '../../assets/scss/variables';
@import '../../assets/scss/mixins';
* {
  --primary-color: #0873e8;
  --text-color-dark-light: #d4d4d4;
  --text-color-dark: #4a4a4a;
}
.footer {
  width: 100%;
  background-color: transparent;
  text-align: left;
  border-top: solid 1px $color-gray-border;
  padding-top: 35px;
}
.footer__inner {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  width: 90%;
  background-color: transparent;
  margin: auto;
}
.footer__hoffmann__title,
.footer__liens__title,
.footer__legal__title,
.footer__contact__title {
  align-self: baseline;
  display: flex;
  color: var(--text-color-dark);
  text-transform: uppercase;
}
.footer__hoffmann__title {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.footer__hoffmann__title__image {
  width: 30px;
  height: auto;
  margin-right: 7px;
}
.footer__inner__row,
.footer__inner__row__contact {
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  align-items: baseline;
  background-color: transparent;
}
.footer__inner__row__liens {
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  align-items: baseline;
  background-color: transparent;
  padding-left: 50px;
}
.footer__list__link {
  color: var(--text-color-dark);
  display: flex;
}
.footer__list__link img,
.footer__list__first__row img {
  height: 20px;
  width: auto;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 3px;
}
.footer__list__text {
  max-width: 250px;
  color: var(--text-color-dark);
  text-align: left;
}
.footer__list {
  background-color: transparent;
  list-style: none;
  margin-top: 0;
  padding-top: 0;
}
.footer__newsletter {
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items:center;
  width:80%;
  margin: auto;
  margin-top: -20px;
  margin-bottom: 20px;
}
.footer__newsletter__credits,
.footer__newsletter__newsletter {
  height:auto;
  color:rgb(128, 128, 128, 0.8);
}
@media screen and (max-width: 800px) {
  .footer__inner {
    grid-template-columns: 100%;
  }
  .footer__inner__row__liens {
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: baseline;
    background-color: transparent;
    padding-left: 0px;
    margin:0;
  }
.footer__inner__row, .footer__inner__row__liens,.footer__inner__row__contact{
  padding:0!important;
  margin-top: -20px!important;
}
.footer__newsletter {
flex-direction: column-reverse;
justify-content: center;
align-items: center;
margin:auto;
}
.footer__newsletter__credits,
.footer__newsletter__newsletter {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top:10px;
}
.footer__newsletter__newsletter {
  margin-bottom: 25px;
}
}
